body {
	background-image: url("http://bilog.bimeks.com.tr/wp-content/uploads/2014/12/G%C4%B0R%C4%B0%C5%9E-G%C3%96RSEL%C4%B0.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url("background-1.jpg")*/
}

.search-box, .title {
	text-align: center;
}


.bio {
    margin-top: 90px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    line-height: 20px;
    background-color: rgb(221, 241, 248);
    padding: 10px 30px;
    border-radius: 5px;
}



iframe {
	width: 100%;
	height: 300px;
}

.col-6 {
	margin-bottom: 120px;
}

.container {
    margin-top: 120px;
}

p.name {
    font-weight: 700;
    font-size: 1.5em;
    background-color: rgb(221, 241, 248);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
}

a.read-more {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.sound {
    font-weight: 400;
}

header h1 {
    font-size: 4em;
    margin: 0.67em 0;
    color: #e3ebef;
}

input.js-query {
    padding: 5px;
    border-radius: 4px;
    width: 40%;
    border: none;
}

button {
    height: 28px;
    border: none;
    border-radius: 4px;
}

/* changes background color of input box*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

p.no-results {
    text-align: center;
}

p.no-results {
    text-align: center;
    font-size: 1.25em;
    background-color: rgb(221, 241, 248);
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
}

.no-results p {
    background-color: rgb(221, 241, 248);
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-size: 1.25em;
}

.no-results {
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Non-mobile, grid*/
@media only screen and (max-width: 640px) {

  .container {
    margin-top: 0px;
	}

  .bio {
    margin-top: 0px;
	}


}