

.search-box, .title {
	text-align: center;
}


.bio {
    margin-top: 90px;
    line-height: 20px;
    background-color: #5fc5e9;
    padding: 10px 30px;
    border-radius: 5px;
    color: #414141;
}



iframe {
	width: 100%;
	height: 300px;
}


.container {
    margin-top: 120px;
}

p.name {
    font-weight: 400;
    font-size: 1.5em;
    background-color: #5fc5e9;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
    color: #414141;
}

a.read-more {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a.read-more:hover {
    color: #0380bf;
    font-weight: 700;
}
.sound {
    font-weight: 400;
}

header h1 {
    font-size: 4em;
    margin: 0.67em 0;
    color: #0380bf;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    color: #0380bf;
}

input.js-query {
    padding: 5px;
    border-radius: 4px;
    width: 40%;
    border: 2px solid grey;
}

button {
    height: 28px;
    border: none;
    border-radius: 4px;
    background-color: #808080;
}

button:hover { 
    background-color: #0380bf;
    color: white;
}

/* changes background color of input box*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

p.no-results {
    text-align: center;
}

p.no-results {
    text-align: center;
    font-size: 1.25em;
    background-color: #0380bf;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
}

.no-results p {
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-size: 1.25em;
    color: #0380bf;
}

.no-results {
    margin-left: 50%;
    transform: translateX(-50%);
}



@media only screen and (max-width: 640px) {

  .container {
    margin-top: 40px;
	}

  .bio {
    margin-top: 0px;
	}

  .name-video {
    margin-bottom: 10px;
    }

    .row.matches {
        margin-bottom: 50px;
    }
    
    input.js-query {
    width: 75%;
}

}