body {
	background-image: url("http://freshlytechy.com/wp-content/uploads/2013/04/EVNTLIVE-Offers-Live-Concert-Streaming-Platform.jpg");
    background-attachment: fixed;
}

.search-box, .title {
	text-align: center;
}

.bio {
    margin-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 20px;
}


iframe {
	width: 100%;
	height: 300px;
}

.col-6 {
	margin-bottom: 120px;
}

.container {
    margin-top: 120px;
}

p.name {
    font-weight: 700;
    font-size: 1.5em;
}

a.read-more {
    text-decoration: none;
    color: black;
    font-weight: 700;
}